[submodule "DevIcon"]
	path = assets/font/icon/devicon
	url = https://github.com/konpa/devicon.git

[submodule "FontAwesome"]
	path = assets/font/icon/Font-Awesome
	url = https://github.com/FortAwesome/Font-Awesome.git

[submodule "Ionicon"]
	path = assets/font/icon/ionicons
	url = https://github.com/ionic-team/ionicons.git

[submodule "MaterialIcon"]
	path = assets/font/icon/material-icons
	url = https://github.com/material-icons/material-icons.git

[submodule "WeatherIcons"]
	path = assets/font/icon/weather-icons
	url = https://github.com/erikflowers/weather-icons.git

[submodule "CKEditor4"]
	path = assets/plugin/ckeditor4
	url = https://github.com/ckeditor/ckeditor4.git
[submodule "api"]
	path = api
	url = https://github.com/MedanSoftware/angeli-api.git
